@import "./scss/variables.module.scss";

.container {
  @include container;
}

.label {
  position: relative;
}
.arrow {
  position: absolute;
  top: 0%;
  width: 1.2rem;
  height: 1.2rem;
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.5);
  transform: rotate(-45deg);
}
.place {
  height: 120px;
  -webkit-box-shadow: inset 0px -2px 8px -4px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0px -2px 8px -4px rgba(0, 0, 0, 0.13);
}

.place,
input {
  border: 0px;
  padding: 1.2rem 1.5rem;
  outline: none;
}

.task {
  font-size: $main-size;
  font-style: italic;
  font-family: $main-font;
  color: $gray-color;
  width: 100%;
}
